:root{
  --wa-light-green: #25D366;
  --wa-grey: #ededed;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bg-light-green{
  background-color: var(--wa-light-green) !important;
}
.text-light-green{
  background-color: var(--wa-light-green) !important;
}
.bg-grey{
  background-color: var(--wa-grey);
}

.input-typo{
  border: none;
  border-bottom: 1px solid green !important;
  outline: none;
  margin-top: -10px;
}

.btn-hover{
  color: var(--wa-light-green) !important;
}
.btn-hover:hover{
  box-shadow: 2px 3px 15px lightgray;
}